body {
  font-family: "Century Gothic", 'Lato', sans-serif;
  background-color: #060606;
  cursor: crosshair;
}
.mockup {
  width: auto;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
}
.main {
  gap: 20px;
  grid-column: 2fr 1fr;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.quote-thingy {
  background:radial-gradient(at var(--x) var(--y), #8deeb2, #1aa149, #0a411d);
  color: transparent;
  font-family: Circular-black, sans-serif;
  font-size: 5.5rem;
  padding-top: 100px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  padding-left: 70px;
  padding-right: 70px;
  font-weight: 600;
}

:root {
  --x: 50%;
  --y: 50%;
}

.info {
  color: #dadada;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 550;
  margin: 40px 0;
}
.info-content {
  color: #b3b3b3;
  font-size: 1.2rem;
  margin: 20px 0;
  text-align: center;
  width: 80%;
  max-width: 800px;
}

.info-content strong {
  font-weight: 700;
  color: #dadada;
}


.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  position: relative;
  text-align: center;
  padding-top: 1000px;
  h1 {
      font-size: 2rem;
      margin: 0;
      letter-spacing: 1rem;
      color: #1ed760;
  }
  h3 {
      font-size: 1rem;
      letter-spacing: 0.3rem;
      opacity: 0.6;
      color: #1ed760;
      ;
  }
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  &--top {
      position: fixed;
      top: 0;
  }
}
.navigateur {
  position: fixed;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: #9f9f9f2b 1px solid;
}
.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 30px;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.9rem;
  color: #1ed760;
  font-weight: bold;

  &:hover {
    color:white;
    background: #1ed760;
    border-radius: 30px;
    transition: all ease;
    font-size: 1.02rem;
  }
}
.sign-up-form {
   width: 300px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
   background: linear-gradient(to bottom, #1f1f1f, #0c0c0c);
   border-radius: 30px;
   padding: 20px;
   margin: 3% auto 0;
   text-align: center;

}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid;
  outline: none;
}

.sign {
  color: #dadada;
}
.block {
  background: linear-gradient(to bottom, #1f1f1f, #0c0c0c);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 600px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  &--top {
      position: fixed;
      top: 0;
  }
}

.brands-carousel {
  position: relative;
  padding-left: 0;
  margin: 0;
  height: 200px;
  overflow: hidden;
}

.brands-carousel > div {
  width: 100%;
}

.brands-carousel > picture {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  animation: carousel 15s linear infinite;
  transform: translateX(100%);
}

.brands-carousel > picture:nth-child(1) {
  animation-name: first-picture, carousel;
  animation-duration: 15s;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 15s;
  transform: translateX(0%);
}
.brands-carousel > picture:nth-child(2) {
  animation-delay: Calc(15s * .33);
}
.brands-carousel > picture:nth-child(3) {
  animation-delay: Calc(15s * .66);
}

@keyframes first-picture {
  0% { transform: translateX(0%); }
  7.5%, 33% { transform: translateX(0); }
  40.5%, 100% { transform: translateX(-100%); }
}

@keyframes carousel {
  0% { transform: translateX(100%); }
  7.5%, 33% { transform: translateX(0); }
  40.5%, 100% { transform: translateX(-100%); }
}

@keyframes first-picture-responsive {
  0% { transform: translateX(0%); }
  5.5%, 25% { transform: translateX(0); }
  30.5%, 100% { transform: translateX(-100%); }
}

@keyframes carousel-responsive {
  0% { transform: translateX(100%); }
  5.5%, 25% { transform: translateX(0); }
  30.5%, 100% { transform: translateX(-100%); }
}

.carousel > picture:last-child {
  display: none;
}

@media screen and (max-width: 766px) {
  .carousel > picture {
    animation: carousel-responsive 20s linear infinite;
  }

  .carousel > picture:nth-child(1) {
    animation-name: first-picture-responsive, carousel-responsive;
    animation-duration: 20s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 20s;
  }

  .carousel > picture:nth-child(2) {
    animation-delay: Calc(20s * .25);
  }
  .carousel > picture:nth-child(3) {
    animation-delay: Calc(20s * .50);
  }
  .carousel > picture:nth-child(4) {
    animation-delay: Calc(20s * .75);
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .quote-thingy {
      font-size: 3.5rem;
  }
}
@media screen and (max-width: 450px) {
  .quote-thingy {
      font-size: 3rem;
  }
}
@media screen and (max-width: 850px) {
  .main {
      grid-template-columns: 1fr;
  }
  .mockup {
    height: auto;
    width: 100%;
  }
}